.container {
  background-color: rgb(255, 255, 255);
  margin-top: 0px;
  
  @media screen and (min-width: 501px) {
    display: none !important;
  }
}

.active {
  height: 200px !important;
  display: block;
  transition: 1s;
  background-color: #363b68;

  .innerContainer {
    opacity: 1;
    transition: 1s;
  }

  .listItem:nth-child(1) {
    padding-top: 23px;
  }
}

.listContainer {
  position: relative;
  display: block;
  list-style-type: none;
  padding: 0px 0px;
  height: 0px;
  transition: height 0.3s;
  background-color: #363b68;
}

.listItem {
  padding: 7px 20px 7px 20px;
  font-size: 20px;
}

.innerContainer {
  opacity: 0;
  transition: opacity 0.5s;
  box-shadow: 1px 2px 42px -9px rgba(0,0,0,0.33) inset;
  -webkit-box-shadow: 1px 2px 42px -9px rgba(0,0,0,0.33) inset;
  -moz-box-shadow: 1px 2px 42px -9px rgba(0,0,0,0.33) inset;
}

.innerContainer a {
  display: block;
  position: relative;
  cursor: pointer;
  color: #fff06b;

  &:hover {
    font-weight: bolder;
  }
}

.activeTab {
  font-weight: bolder;
  color: white;
}

.listItem {
  position: relative;
}
