.footer-container {
  margin-top: 30px;
  text-align: center;
  position: relative;
  height: 100%;
  padding-bottom: 30px;

  p {
    text-align: center;
    width: 100%;
  }
}

.link {
  margin: 8px;
  margin-top: 0px;
  font-size: 40px;
  color: #D7E4E4;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    color: #293D43;
  }
}