.container {
  flex-grow: 2;
  padding: 15px;
}

.widget {
  max-height: 700px;
  height: 100%;
  flex-grow: 1;
  width: 100%;
  max-width: 750px;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;

  background: rgb(95,95,95);
  background: linear-gradient(122deg, rgba(95,95,95,1) 0%, rgba(4,7,37,1) 100%);

  box-shadow: 3px 3px 15px 3px rgba(0,0,0,0.26);
}

.listContainer {
  list-style: none;
  padding: 0;
  margin: 20px 0px;
}

.listItem {
  margin: 10px 0px;
}
