.container {
  display: flex;
  flex-direction: row;
  align-items: top;
  max-width: 1600px;
  width: 100%;
  align-self: center;

  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }
}

.skillCard {
  padding: 10px 20px;
  flex-grow: 1;
  width: 100%;
  margin: 20px;
  height: 520px;
  border-radius: 20px;
  background-color: #252E42;

  @media screen and (max-width: 1200px) {
    width: auto !important;
  }
}

.listContainer {
  list-style: none;
  padding-left: 24px;;
}

.listContent {
  font-size: 20px;
  color: white;
}

