.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 35px 0px;
}

.noPadding {
  margin: 0;
}

.navbar-ul {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  width: 500px;
  flex-basis: auto;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  align-self: center;
  border: 2px solid white;
  list-style: none;
  // background-color: white;
  opacity: 0.85;
  min-height: 80px;

  li {
    padding: 15px;
    flex-grow: 1;
    text-align: center;
  }

  @media screen and (max-width: 600px) {
    border-radius: 0px;
    width: 100%;
  }
}

.navbar-ul {
  @media screen and (max-width: 499px) {
    display: none;
  }
}

.hamburgerMenuWrapper {
  display: none;
  padding-left: 20px;
  cursor: pointer;

  @media screen and (max-width: 499px) {
    display: block;
  }

  button {
    background: none;
    border: none;
    margin: 0;
    font-size: 40px;
    color: white;
  }
}

.buttonItem {
  color: white !important;
  border: none;
  padding: 10px;
  font-size: 20px;
  background: none;
}

.activeLink {
  font-weight: bolder;
}
