.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 35px 0px;
}

.noPadding {
  margin: 0;
}

.navbar-ul {
  margin: 0;
  padding: 0;
  width: 500px;
  flex-basis: auto;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  align-self: center;
  border: 2px solid white;
  list-style: none;

  li {
    padding: 15px;
    flex-grow: 1;
    text-align: center;
  }
}

.buttonItem {
  border: none;
  padding: 10px;
  font-size: 20px;
  background: none;
}

.activeLink {
  font-weight: bolder;
}
