@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.container {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.formContainer {
  padding: 20px 10px;
  max-width: 650px;

  @media screen and (max-width: 900px) {
    width: auto;
    padding: 0px 15px;
  }
}

.formContents {
  display: inline-block;
  flex-direction: column;
  max-width: 1900px;
  width: 100%;

  label {
    width: auto;
    font-size: 20px;
    color: white;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
  }

  input, textarea {
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;

    background: none;
    border: 2px solid #DDFFCE;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
  }

  input {
    height: 40px;
    margin-bottom: 20px;
  }

  textarea {
    height: 100px;
  }

  .buttonContainer {
    text-align: right;

    @media screen and (max-width: 900px) {
      text-align: center;
    }
  }
}
