.container {
  display: flex;
  flex-direction: row;
  max-width: 1600px;
  width: 100%;
  align-self: center;
  min-height: 680px;
  height: 100%;
}

@media only screen and (max-width: 1400px) {
  .container {
    flex-direction: column;
  }
}
