.container {
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  width: 100%;
  justify-content: center;
  align-self: center;
  min-height: 680px;
  height: 100%;
  padding-top: 20px;
}

.testContainer {
  border: thin solid blue;
}

@media only screen and (max-width: 1400px) {
  .container {
    flex-direction: column;
  }
}
